Website Uptime Check.json
{
  "name": "Website Uptime Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "04441048-f661-4274-aad4-7c8bb89828dc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [448, 0],
      "id": "acc37b75-c84b-408a-a11e-b5f30bc95ecc",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID_HERE",
        "text": "=🚨 Website Alert!\nURL: {{ $json.url }}\nProblem: {{ $json.alertReason }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1040, -96],
      "id": "25e1a065-a08f-43aa-8c1e-c49163f665d3",
      "name": "Send a text message",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://www.website1.com\" } },\n  { json: { url: \"https://www.website2.me\" } }\n \n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 0],
      "id": "3e35febb-363e-4d6b-9f1a-4ac3c039a26b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// 1. pull 'Code in JavaScript'\nconst originalList = $('Code in JavaScript').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  \n  const statusCode = item.json.statusCode;\n  const content = (item.json.data || \"\").toLowerCase();\n  \n  const isDown = statusCode !== 200;\n  const keywords = ['database error', 'critical error', '404 not found','403 Forbidden','fatal error', '502 bad gateway','503 Service Unavailable','500 Internal Server Error','Error Establishing a Database Connection'];\n  const foundKeywords = keywords.filter(word => content.includes(word));\n  const hasBadContent = foundKeywords.length > 0;\n\n  item.json.alertTriggered = isDown || hasBadContent;\n  item.json.alertReason = isDown ? `Down (Status: ${statusCode})` : `Internal Error`;\n\n  if (originalList[i]) {\n    item.json.url = originalList[i].json.url;\n  } else {\n    item.json.url = \"URL missing\";\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, 0],
      "id": "c3e99560-c264-42e9-a411-40087a88395d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b439d2e1-af27-4d30-a877-7a95699e714a",
              "leftValue": "={{ $json.alertTriggered }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [960, 112],
      "id": "9d4cc749-e624-4d4c-a51d-e870f8439703",
      "name": "If1"
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]] },
    "HTTP Request": { "main": [[{ "node": "Code in JavaScript1", "type": "main", "index": 0 }]] },
    "Code in JavaScript": { "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]] },
    "Code in JavaScript1": { "main": [[{ "node": "If1", "type": "main", "index": 0 }]] },
    "If1": { "main": [[{ "node": "Send a text message", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
